

body {
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-repeat: repeat;
	background-size: auto;
	font-family: 'Lato', sans-serif;
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	background-color: #232323
}

::selection {
	background: #bb292e;
	color: #fff
}

.phone {
	font-size:13px;
	color: grey;
	text-align: left;
	margin: 0px 0px -15px 0px;
}

.underline {
	line-height: 1.0em !important;
	display: inline-block;
	border-bottom: 4px solid red;
}
.inner-modal .clone-this {
	float: none;
	margin: 0 auto;
	padding: 20px 25px 5px !important;
	position: relative;
	width: 85%;
}
.form-block input {
	color: black;
}
.policy {
	text-align: center;
	margin: 25px auto 15px;
}
.policy a {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgb(187, 41, 46);
}
.promo {
	background-image: url(../img/back-promo.jpg);
}
.modal-wrap .inner-modal {
	max-width: 650px !important;
	margin: 70px auto 50px !important;
}

.x_price_previous {
	text-decoration: line-through;
}
.x_price_current {
	color: red;
	font-size: 60px !important;
}

html {
	width: 100%;
	display: block;
	background-color: #232323;
	z-index: -200;
	position: relative
}

img {
	border: none
}

a {
	color: #ff5436;
	text-decoration: underline
}

a:link {
	color: #ff5436;
	text-decoration: underline
}

a:visited {
	color: #ff5436;
	text-decoration: underline
}

a:hover {
	text-decoration: none;
	color: #ff5436
}

a:active {
	text-decoration: underline;
	color: #ff5436
}

ul {
	list-style-position: outside;
	list-style: none;
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0
}

li {
	font-size: 17px;
	line-height: 24px;
	padding-left: 45px;
	margin-bottom: 15px;
	position: relative;
	color: #fff
}

li:before {
	content: '\0020';
	position: absolute;
	left: 0;
	top: 10px;
	width: 25px;
	height: 2px;
	background: #bb292e
}

.list li {
	font-size: 17px;
	line-height: 24px;
	padding-left: 25px;
	margin-bottom: 15px;
	position: relative;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

.list li:before {
	content: '\0020';
	position: absolute;
	right: 25px;
	top: 8px;
	width: 15px;
	height: 12px;
	background: url(../fonts/list.svg) no-repeat
}

.ul-none li {
	font-size: 17px;
	line-height: 24px;
	padding-left: 28px;
	margin-bottom: 15px;
	position: relative;
	color: #fff
}

.ul-none li:before {
	content: '\0020';
	position: absolute;
	right: 25px;
	top: 3px;
	width: 19px;
	height: 19px;
	background: url(../fonts/ulnone.svg) no-repeat 50% 50% / 100% auto
}

h1 {
	font-size: 47px;
	line-height: 1.3em;
	margin-bottom: .5em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
font-family: 'Lato', sans-serif;

}

h2 {
	font-size: 33px;
	line-height: 1.3em;
	margin-bottom: .5em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
font-family: 'Lato', sans-serif;

}

h3 {
	font-size: 32px;
	line-height: 1.3em;
	margin-bottom: .5em;
	font-weight: bolder;
	color: #fff
}

u {
	text-decoration: none;
	border-bottom: 4px solid #bb292e
}

p {
	font-size: 17px;
	line-height: 1.4em;
	margin-bottom: 1.5em;
	color: #fff
}

input.button,
.button {
	display: inline-block;
	width: auto!important;
	position: relative;
	font-size: 21px;
	padding: 25px 60px 25px 30px;
	background: #bb292e;
	margin-top: 8px;
	margin-bottom: 15px;
	border: 0;
	color: #fff!important;
	text-decoration: none!important
}

.button:after {
	content: '\0020';
	position: absolute;
	right: 25px;
	top: 50%;
	width: 10px;
	height: 16px;
	margin-top: -7px;
	background: url(../fonts/arrow.svg) no-repeat
}

.button-min {
	display: inline-block;
	width: auto!important;
	position: relative;
	font-size: 17px;
	padding: 12px 60px 12px 20px;
	background: #bb292e;
	margin-top: 8px;
	margin-bottom: 15px;
	border: 0;
	color: #fff!important;
	text-decoration: none!important
}

.button-min:after {
	content: '\0020';
	position: absolute;
	right: 15px;
	top: 50%;
	width: 10px;
	height: 16px;
	margin-top: -7px;
	background: url(../fonts/arrow.svg) no-repeat
}

.button:hover,
.button-min:hover,
#footform .button:hover {
	background-color: #333!important;
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px)
}

.rew-text,
.rew-text:before,
.button,
.button-min,
.scientific .scientific-img img,
.jcf-radio {
	-webkit-transition: all .35s ease-out, -webkit-transform .35s ease-out;
	-moz-transition: all .35s ease-out, transform .35s ease-out, -moz-transform .35s ease-out;
	transition: all .35s ease-out, transform .35s ease-out;
	transition: all .35s ease-out, transform .35s ease-out, -webkit-transform .35s ease-out, -moz-transform .35s ease-out
}

.promo {
	padding-top: 0%;
	padding-bottom: 4%;
	background-color: #1a1918
}

.background {
	background-repeat: no-repeat;
	background-position: 58% 50%!important;
	background-position: 50% 50% 9!important
}

.promo-row p {
	font-size: 28px;
	line-height: 1.4em;
	margin-bottom: 40px
}

.promo-row .price {
	float: left;
	display: block;
	margin-right: 3%
}

.promo-row ul {
	margin-bottom: 40px;
	margin-top: 50px
}

.promo-img img {
	max-width: 334px;
	/*width: 100%;*/
	margin-bottom: 20px
}

.promo .logo img {
	width: 100%;
	max-width: 220px;
	margin-top: 35px;
	margin-bottom: 15px
}

.promo .logo-row {
	margin-bottom: 20px;
	margin-top: 10px
}

.promo .medal {
	width: auto;
	text-align: left;
	display: block;
	float: left;
	margin-top: 10px
}

.promo-butt {
	width: auto;
	display: block;
	float: left;
	margin-bottom: 20px
}

.head .promo-butt {
	padding-left: 10px
}

.sharite {
	padding-top: 5%;
	padding-bottom: 6%;
	background: url(../img/sharite-back_1.jpg) 50% 0% no-repeat
}

.sharite h1 sup {
	font-size: 18px;
	top: -.4em
}

.sharite h1 sup:before {
	content: '\0020';
	display: inline-block;
	left: 0;
	top: 50%;
	width: 36px;
	height: 25px;
	margin-right: 15px;
	background: url(../img/german.png) no-repeat
}

.sharite-text ul {
	margin-top: 30px;
	margin-bottom: 30px
}

.sharite-text ul li {
	margin-bottom: 2px
}

.sharite .sharite-sert {
	margin-top: 50px
}

.sharite .sharite-sert img {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, .20)
}

.sharite .blockqoute {
	position: absolute;
	bottom: 0
}

.sharite-row {
	display: flex
}

.sharite-row .sharite-text,
.sharite-row .sharite-blockqoute {
	display: table-cell
}

.sharite-row .sharite-text {
	background: url(../img/charite.png) 0 0 no-repeat;
	background-size: contain
}

.sharite-blockqoute .blockqoute {
	padding: 25px 35px;
	background: #bb292e
}

.sharite-blockqoute .blockqoute:after {
	content: '\0020';
	position: absolute;
	right: 0;
	bottom: 40px;
	width: 81px;
	height: 69px;
	margin-right: 12px;
	background: url(../fonts/qout.svg) no-repeat
}

.sharite-blockqoute .blockqoute p {
	font-size: 21px;
	margin-bottom: 25px
}

.sharite-blockqoute .sharite-sub {
	line-height: 16px
}

.sharite-blockqoute .blockqoute p strong {
	font-size: 17px;
	font-weight: bold
}

.sharite-blockqoute .blockqoute p sub {
	font-size: 16px;
	color: rgba(255, 255, 255, .50);
	width: 100%;
	line-height: 1.4em;
	display: inline-block
}

.risk {
	padding-top: 4%;
	padding-bottom: 6%;
	background: url(../img/risk-back.jpg) #1e1c1d 100% 50% no-repeat;
	background-size: auto 100%
}

.risk ul {
	margin-top: 8%;
	margin-bottom: 10px
}

.risk .ul-none li {
	font-size: 25px;
	line-height: 24px;
	padding-left: 40px;
	margin-bottom: 30px;
	text-shadow: 1px 1px 3px #000;
}

.risk .ul-none li:before {
	content: '\0020';
	position: absolute;
	right: 25px;
	top: 3px;
	width: 19px;
	height: 19px;
	background: url(../fonts/ulnone.svg) no-repeat 50% 50% / 100% auto
}

.opportunities {
	padding-top: 4%;
	padding-bottom: 5%;
	background: url(../img/opportunities-back.jpg) no-repeat 50% 50%
}

.opportunities .opportunities-head {
	margin-bottom: 2%
}

.opportunities .opportunities-head h1 {
	text-align: center
}

.opportunities .opportunities-head img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -230px;
	margin-bottom: 20px;
	/*width: 100%;*/
	max-width: 443px
}

.opportunities-icon-row {
	width: 100%;
	text-align: center;
	display: table
}

.opportunities-icon {
	width: 19.5%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center
}

.opportunities-icon img {
	padding: 20px
}

.test {
	padding-top: 4%;
	padding-bottom: 5%;
	background: url(../img/test-back.jpg) #11191a 50% 100% no-repeat
}

.test .input-group input{
	color: white !important;
}

.input-group {
	width: 100%;
	margin-bottom: 30px
}

.input-group input {
	width: 100%;
	padding: 30px 0!important;
	font-size: 17px;
	color: #1e0500 !important;
	outline: 0;
	border: 0;
	border-bottom: 4px solid #1e0500!important;
	background-color: transparent;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .0)
}

.mask88 input {
   display: inline-block;
    width: 100%!important;
    position: relative;
    font-size: 21px!important;
    padding: 25px 60px 25px 30px!important;
    background-color: #bb292e!important;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 0!important;
    color: #fff!important;
    text-decoration: none!important;
}
.input-block {
	margin-bottom: 20px
}

.form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0)
}

.test .label-radio-gr {
	margin-bottom: 30px!important;
	color: #fff
}

.test .label-radio-gr p,
.test .input-group p {
	margin-bottom: 7px!important
}

.test-label-two {
	margin-top: 20px
}

.button-group {
	margin-top: 50px
}

.button-group a {
	width: 100%!important
}

.quality {
	padding-top: 5%;
	padding-bottom: 8%;
	background: url(../img/quality-back_1.jpg) #000 50% 100% no-repeat
}

.quality-row p {
	width: 75%
}

.quality-row h2 {
	margin-bottom: 30px
}

.quality .quality-left {}

.quality .quality-right p,
.quality .quality-right {
	text-align: right;
	float: right
}

.quality .quality-right .button {
	margin-top: 40px
}

.scientific {
	padding-top: 0%;
	padding-bottom: 3%;
	overflow: hidden;
	/*background: url(../img/scientific-back.jpg.html) #282828 50% 0% no-repeat*/
}

.scientific-text {
	margin-top: 6%;
	margin-bottom: 6%
}

.scientific-text p:first-of-type {
	font-size: 23px
}

.scientific-text p {
	width: 75%
}

.scientific .scientific-img {
	position: relative
}

.scientific .scientific-img img {
	position: absolute;
	-webkit-filter: drop-shadow(0 0 60px rgba(0, 0, 0, .5));
	filter: drop-shadow(0 0 60px rgba(0, 0, 0, .5))
}

.scientific .scientific-img img:hover {}

.scientific .scientific-img .pic1 {
	/*width: 90%;
	padding: 50px;*/
	margin-top: 30px;
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: none;
}

.scientific .scientific-img .pic2 {
	width: 85%;
	padding: 50px;
	bottom: 0;
	right: 0;
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg)
}

.scientific .scientific-img .pic3 {
	width: auto;
	top: 50%;
	right: 0
}

.scientific-row {
	display: flex
}

.composition {
	padding-top: 6%;
	padding-bottom: 6%;
	background: url(../img/composition-back.jpg) #141416 50% 50% no-repeat
}

.composition-row h1 {
	text-align: center;
	margin-bottom: 6%
}

.composition-element h5 {
	color: #fff;
	font-size: 21px
}

.composition-left {
	text-align: right
}

.composition-element {
	position: relative;
	min-height: 300px
}

.composition-element img,
.composition-alfa img {
	max-width: 100%;
	margin-top: 30px
}

.elalfaman {
	text-align: center
}

.composition-element.evrikoma {
	margin-top: 40px
}

.composition .composition-element.jenshen:before,
.composition .composition-element.arginin:before {
	content: '\0020';
	position: absolute;
	width: 122px;
	height: 39px;
	background: url(../fonts/line-composition.svg) no-repeat;
	background-size: 100% auto;
	z-index: 50
}

.composition .jenshen:before {
	top: 190px;
	right: -135px
}

.composition .arginin:before {
	top: 202px;
	left: -130px;
	-moz-transform: rotate(-220deg);
	-ms-transform: rotate(-220deg);
	-webkit-transform: rotate(-220deg);
	-o-transform: rotate(-220deg);
	transform: rotate(-220deg)
}

.composition .composition-element.glicin:before,
.composition .composition-element.evrikoma:before {
	content: '\0020';
	position: absolute;
	width: 104px;
	height: 36px;
	background: url(../fonts/line-composition2.svg) no-repeat;
	background-size: 100% auto;
	z-index: 50
}

.composition .glicin:before {
	top: 160px;
	right: -120px
}

.composition .evrikoma:before {
	top: 163px;
	left: -120px;
	-moz-transform: rotate(-150deg);
	-ms-transform: rotate(-150deg);
	-webkit-transform: rotate(-150deg);
	-o-transform: rotate(-150deg);
	transform: rotate(-150deg)
}

.research {
	padding-top: 5%;
	padding-bottom: 6%;
	background: url(../img/research-back.jpg) #19181a 50% 50% no-repeat;
	background-size: auto 100%
}

.research .h3red {
	font-size: 23px;
	color: #bb292e;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 0
}

.research h1 {
	margin-bottom: 1.5em
}

.research-graphic h3 {
	margin-top: 0
}

.info {
	padding: 30px;
	background: #bb292e;
	font-size: 17px;
	color: #fff
}

.research .graph {
	position: relative;
	width: 100%;
	max-width: 457px;
	margin-top: 30px;
	margin-bottom: 30px;
	background: url(../img/graph.png) 50% 50%;
	background-size: 100% auto
}

.research .graph img {
	width: 100%;
	height: auto
}

.rew {
	padding-top: 4%;
	padding-bottom: 6%;
	background: #b5252a
}

.rew h1 {
	text-align: center;
	margin-bottom: 5%
}

.rew-block {
	float: left;
	display: block;
	margin-bottom: 36px;
	position: relative;
	min-height: 1px
}

.rew .avapic {
	width: 130px;
	height: 130px;
	position: relative;
	margin: auto;
	background: #a7252a url(../fonts/avatar.svg) 50% 45% no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 20
}

.rew .avapic img {
	width: auto;
	height: 100%;
	max-width: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.rew .avavk:before {
	content: '\0020';
	position: absolute;
	bottom: -20px;
	left: 33%;
	width: 40px;
	height: 40px;
	background: url(../img/pngfuel.com.png) #2a5b91 50% 50% no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.rew .avaok:before {
	content: '\0020';
	position: absolute;
	bottom: -20px;
	left: 33%;
	width: 40px;
	height: 40px;
	background: url(../img/pngfuel.com.png) #f14720 50% 50% no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.rew-text {
	background: #a7252a;
	padding: 30px 50px 15px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative
}

.rew-block:nth-of-type(odd) .rew-text:before {
	content: '\0020';
	position: absolute;
	left: -12px;
	top: 40px;
	width: 0;
	height: 0;
	border-right: 12px solid #a7252a;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.rew-block:nth-of-type(even) .rew-text:before {
	content: '\0020';
	position: absolute;
	right: -12px;
	top: 40px;
	width: 0;
	height: 0;
	border-left: 12px solid #a7252a;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.rew-text p span {
	opacity: .5
}

.rew-block:nth-of-type(2n) .rew-avatar {
	float: right
}

.rew-block:nth-of-type(2n) .rew-text {
	float: left
}

.rew-block:hover .rew-text {
	background: #161515;
	-webkit-transform: translate3d(0, -3px, 0);
	-moz-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0)
}

.rew-block:nth-of-type(odd):hover .rew-text:before {
	border-right: 12px solid #161515;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.rew-block:nth-of-type(even):hover .rew-text:before {
	border-left: 12px solid #161515;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent
}

.what {
	padding-top: 6%;
	padding-bottom: 5%;
	background: #0d0d0d
}

.what-snos {
	border: 1px solid rgba(255, 255, 255, .20);
	position: relative;
	margin-bottom: 30px
}

.what-snos p {
	padding: 30px 30px 30px 90px;
	margin: 0;
	position: relative
}

.what-snos p:before {
	content: '!';
	color: #b52529;
	font-size: 220px;
	position: absolute;
	left: 20px;
	top: 40px;
	width: 0;
	height: 0
}

.what-snos:before {
	content: 'Внимание';
	color: #b52529;
	background: #0d0d0d;
	font-size: 19px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	left: 80px;
	top: -14px
}

.delevity-icon.pay {
	text-align: left
}

.delevity-icon.pay p {
	padding-left: 0%
}

.delevity-icon.pay .button-min {
	margin-bottom: 20px
}

.deleviry-row {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid rgba(45, 45, 50, .7)
}

.delevity-icon,
.what-icon {
	margin-top: 25px;
	text-align: center
}

.delevity-icon img,
.what-icon img {
	margin-bottom: 30px
}

.what-icon-block {
	margin-top: 2%
}

.what-icon:before {
	content: '\0020';
	position: absolute;
	right: -8px;
	top: 78px;
	width: 10px;
	height: 15px;
	background: url(../fonts/arrow.svg) no-repeat 50% 50%;
	opacity: .5
}

.what-icon:last-child:before {
	display: none
}

.what-icon img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.what-alfa img {
	margin-top: -23px;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	border-radius: 0%
}

.delevity-icon p {
	box-sizing: border-box;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%
}

.footer {
	padding-top: 5%;
background: url(../img/footer-back.jpg) #28272c 50% 0% no-repeat}
.formfooter {
	background: rgba(255, 255, 255, .95);
	text-align: center;
	padding: 42px 42px 10px 42px;
	margin-top: 2%
}

.formfooter h1 {
	color: #000;
	font-size: 45px;
	text-transform: none;
	float: left;
	width: 100%;
	display: block;
	margin: 0
}

.footer .h3red {
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0
}

.footer .alfapack {
	margin-top: -28%;
	margin-bottom: 0;
	max-width: 100%
}

.footer .input-group {
	width: 100%;
	margin-bottom: 20px
}

#footform input,
#footform select {
	width: 100%;
	padding: 10px 0!important;
	font-size: 21px;
	color: #000!important;
	text-align: center;
	outline: 0;
	border: 0;
	border-bottom: 4px solid #000!important;
	background-color: transparent;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .0)
}

#footform select {
	padding: 0!important;
	text-align: center!important;
	cursor: pointer
}

#footform select option {
	padding: 30px;
	text-align: center
}

#orderform0 input.button {
	display: inline-block;
	width: 100%!important;
	position: relative;
	font-size: 21px!important;
	padding: 25px 60px 25px 30px!important;
	background: url(../fonts/arrow.svg) 94% 52% no-repeat!important;
	background-color: #bb292e!important;
	margin-top: 8px;
	margin-bottom: 15px;
	border: 0!important;
	color: #fff!important;
	text-decoration: none!important
}

#footform .button {
	width: 100%!important
}

.price {
	margin-top: 2.5%
}

.head .price {
	margin-top: 12px;
	margin-right: 0;
	text-align: center
}

.footer .price {
	text-align: center;
}

.head .price span {
	margin-right: 0
}

.price span {
	font-size: 47px;
	margin-right: 30px
}

.price sup {
	font-size: 21px;
	top: -.2em
}

.head .price sup {
	display: block;
	font-size: 21px;
	top: 15px
}

.natur,
.approved,
.recomend {
	background: url(../img/medalic.png) no-repeat;
	width: 72px;
	height: 66px;
	display: inline-block;
	margin-right: 15px
}

.footer .medal {
	width: 100%;
	text-align: center;
	display: block;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px
}

.natur.white {
	background-position: 0 0
}

.approved.white {
	background-position: -72px 0
}

.recomend.white {
	background-position: -144px 0
}

.natur.red {
	background-position: 0 -66px
}

.approved.red {
	background-position: -72px -66px
}

.recomend.red {
	background-position: -144px -66px
}

.natur.black {
	background-position: 0 -132px
}

.approved.black {
	background-position: -72px -132px
}

.recomend.black {
	background-position: -144px -132px
}

.medal-img {
	display: inline-block;
	vertical-align: middle;
	max-width: 29%;
	margin-right: 3%
}

.medal-img:nth-last-of-type(1) {
	margin-right: 0
}

.jcf-select {
	width: 100%!important;
	padding: 20px 0!important;
	margin: 0!important;
	height: auto!important;
	box-sizing: border-box!important;
	font-size: 21px!important;
	color: #000!important;
	text-align: center;
	outline: 0;
	border: 0!important;
	border-bottom: 4px solid #000!important;
	background-color: transparent!important;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .0)
}

.jcf-select .jcf-select-text {
	font-size: 21px!important
}

.jcf-select .jcf-select-opener {}

.error {
	width: auto;
	position: absolute;
	right: 0;
	bottom: -15px;
	margin: 0;
	padding: 5px 13px;
	background-color: #000;
	font-size: 15px;
	color: #fff;
	z-index: 20
}

.error:after {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 20px;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-bottom: 3px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.radio-inline,
.checkbox-inline {
	padding-left: 0!important;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 17px
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
	margin-left: 0!important
}

.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	cursor: default;
	background: #fff;
	margin: -7px 10px 0 0;
	height: 19px;
	width: 19px;
	cursor: pointer
}

.jcf-radio span {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: -5px;
	bottom: 0;
	background: url(../fonts/check.svg) 90% 20% no-repeat;
	opacity: 0
}

.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
	cursor: pointer
}

.jcf-radio.jcf-checked {
	background: #b6252a
}

.jcf-radio.jcf-checked span {
	display: block;
	opacity: 1
}

.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px
}

.jcf-checkbox span {
	position: absolute;
	display: none;
	height: 4px;
	width: 8px;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -6px;
	border: 3px solid #777;
	border-width: 0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"
}

:root .jcf-checkbox span {
	margin: -4px 0 0 -5px
}

.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0
}

.jcf-checkbox.jcf-checked span {
	display: block
}

.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #777;
	background: #fff;
	margin: 0 0 12px;
	min-width: 150px;
	height: 26px
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 13px;
	line-height: 26px;
	margin: 0 35px 0 8px
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: url(../fonts/snosk.svg.html) 50% 50% no-repeat transparent;
	width: 36px;
	bottom: 0;
	right: 0;
	top: 0
}

body>.jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999
}

body>.jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto
}

.jcf-select.jcf-compact-multiple {
	max-width: 220px
}

.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
	display: inline-block;
	padding-top: 2px;
	content: '...'
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid red
}

.jcf-select-drop.jcf-compact-multiple .jcf-hover {
	background: none
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected {
	background: #e6e6e6;
	color: #000
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
	display: inline-block;
	content: '';
	height: 4px;
	width: 8px;
	margin: -7px 5px 0 -3px;
	border: 3px solid #777;
	border-width: 0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"
}

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 14px;
	font-size: 12px;
	width: 100%
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.jcf-list ul li {
	overflow: hidden;
	display: block
}

.jcf-list .jcf-overflow {
	overflow: auto
}

.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 9px;
	color: #656565;
	min-height: 14px;
	height: 1%
}

.jcf-list .jcf-disabled {
	background: #fff!important;
	color: #aaa!important
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px
}

.modal-cont {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

#sucess .modal-cont {
	background: #333!important;
	color: #fff;
	padding: 8%
}

.modal-cont img {
	max-width: 100%
}

.close-modal {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	background: url(../fonts/close.svg.html) 50% 50% no-repeat;
	z-index: 80;
	cursor: pointer
}

.bgpsucess {
	font-size: 21px
}

.modal {
	text-align: center;
	padding: 0!important
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px
}

.modal-lg {
	width: 100%;
	max-width: 1280px
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle
}

.result .modal-lg {
	background-color: #fff
}

.result-all {
	margin-top: 30px;
	margin-bottom: 60px
}

.result-text {
	text-align: left
}

.result-text p,
.result-text h3 {
	color: #000
}

.result-text p {
	font-size: 1.4em
}

.result-alfa {
	margin-top: 20px;
	margin-bottom: 10px
}

.result-alfa .result-button {
	margin-top: 10px
}

.result .modal-cont {
	background-position: 6% 100%;
	background-size: auto 96%;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	margin-top: 30px
}

#result-good .modal-cont {
	background-image: url(../img/good.jpg)
}

#result-norm .modal-cont {
	background-image: url(../img/norm.jpg)
}

#result-bad .modal-cont {
	background-image: url(../img/bad.jpg)
}

#calc {
	margin-top: 30px
}

.res-block {
	display: block;
	float: left;
	height: auto
}

.res.visible {
	visibility: visible;
	display: block;
	float: left;
	overflow: hidden;
	max-height: 1900px;
	opacity: 1;
	z-index: 70;
	margin-top: 30px;
	-webkit-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-moz-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-o-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s
}

.res {
	visibility: hidden;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-moz-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-o-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s
}

.form {
	visibility: visible;
	display: block;
	float: left;
	overflow: hidden;
	max-height: 1900px;
	opacity: 1;
	z-index: 70;
	-webkit-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-moz-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	-o-transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s;
	transition: visibility 1.0s, opacity 1.0s ease, max-height 1.0s
}

.form.hidd {
	visibility: hidden;
	max-height: 0;
	opacity: 0;
	-webkit-transition: visibility 1.0s, opacity 1.0s ease, max-height .5s;
	-moz-transition: visibility 1.0s, opacity 1.0s ease, max-height .5s;
	-o-transition: visibility 1.0s, opacity 1.0s ease, max-height .5s;
	transition: visibility 1.0s, opacity 1.0s ease, max-height .5s
}

@media (max-width:1200px) {
	.sharite-blockqoute .blockqoute:after {
		display: none;
	}
	.promo-row ul {
		margin-top: 20px;
		position: relative;
		left: 70px;
	}
	.scientific .scientific-img img {
		width: auto!important;
		max-width: 90%!important;
		position: static!important;
		padding: 0!important
	}
	.scientific .scientific-img .pic2 {
		margin-top: -30px
	}
	.scientific .scientific-img .pic3 {
		display: none
	}
	.footer .price {
		text-align: left;
		margin-top: 50px
	}

	.what h1 {
		font-size: 40px;
	}

	.opportunities .opportunities-head img {

		margin-right: 0;
	}
}

@media (max-width:992px) {
	h1,
	.formfooter h1 {
		font-size: 35px;
		margin-bottom: 1.1em
	}
	h2 {
		font-size: 25px
	}
	.what-row h1 {
		font-size: 22px
	}
	.composition-element {
		text-align: center
	}
	.composition .composition-element:before {
		display: none
	}
	.row {
		padding: 10px
	}
	.sharite {
		background: url(../img/sharite-back_1.jpg) 37% 0% no-repeat
	}
	.quality {
		background-size: 160% auto
	}
	.risk {
		background: #1e1c1d;
		padding-bottom: 10%
	}
	.price sup {
		display: inline-block;
		margin-top: 40px
	}
	.head .price sup {
		margin-top: 0
	}
	.what-icon img {
		max-width: 80%
	}
	.what-icon:before {
		top: 44px
	}
	.what-alfa img {
		margin-top: -14px
	}
	#result .modal-cont {
		background: url(../img/good.jpg) -20% 100% no-repeat;
		background-size: auto 100%
	}
	.modal-cont {
		background-position: -90% 100%!important
	}
	#result-bad .modal-cont {
		background-position: -120% 100%
	}
	.modal-dialog {
		margin: 0
	}
	.what-snos p:before {
		font-size: 170px;
		top: 40px;
	}
	.scientific-text p {
		width: 100%;
		margin-bottom: 1.1em;
	}
	.scientific-text {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.scientific-text p:first-of-type {
		font-size: 22px;
		line-height: 26px;
	}
}

@media (max-width:767px) {
	.list {
		width: 270px;
		margin: 0 auto 40px;
		padding: 10px;
		border: 2px solid rgba(255, 0, 0, 0.33);
		border-radius: 5px;
		background: rgba(237, 241, 241, 0.33);
	}
	.list li {
		font-size: 17px;
		line-height: 24px;
		padding-left: 25px;
		margin-bottom: 15px;
		position: relative;
		color: #ffffff;
		text-shadow: 1px -1px 8px #0a0a0a;
	}
	.promo-button-bloc {

	}
	.promo-button-bloc .price {
		display: inline-block;
		float: none;
	}
	.promo-butt {
		float: none;
		display: inline-block;
	}
	.promo-img {
		text-align: center;
	}
	.promo-img img {
		position: relative;
	}
	.what h1 {
		margin-bottom: 10px;
	}
	.delevity-icon.pay {
		margin-top: 15px;
	}
	.delevity-icon.pay p {
		padding: 0;
		text-align: center;
	}
	.inner-modal .clone-this {
		width: auto;
	}
	h1,
	h2,
	h3,
	h4,
	p {
		text-align: center
	}
	br {
		display: none
	}
	.row {
		padding: 5px 10px
	}
	.research,
	.promo,
	.sharite,
	.risk,
	.opportunities,
	.test,
	.quality,
	.scientific,
	.composition,
	.rew,
	.what,
	.footer {
		padding-top: 30px;
		padding-bottom: 30px
	}
	.risk {
		padding-bottom: 12%
	}
	.medal-img {
		max-width: initial;
		margin-right: 4%
	}
	h1,
	.formfooter h1 {
		font-size: 27px;
		margin-bottom: 1.1em
	}
	.promo .logo-row {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0
	}
	.promo .logo img {
		margin-top: 10px
	}
	.promo-row ul {
		margin-top: 0;
		left: 0;
	}
	.promo-row p {
		font-size: 21px
	}
	.promo .medal {
		margin: 0;
		padding-bottom: 20px;
		text-align: center;
		width: 100%;
		zoom: .6
	}
	.promo h1 {
		margin-top: 0
	}
	.promo-button-bloc {
		text-align: center
	}
	.sharite-row .sharite-text,
	.sharite-row .sharite-blockqoute,
	.sharite-row,
	.scientific-row {
		display: block;
		float: left
	}
	.sharite-blockqoute img {
		width: 100%;
		max-width: 280px;
		margin: auto
	}
	.sharite .blockqoute {
		display: block;
		position: static;
		margin-bottom: 30px
	}
	.sharite-blockqoute .blockqoute:after {
		right: 51%;
		bottom: 10px;
		width: 40px;
		height: 40px;
		background-size: contain
	}
	.sharite {
		background-image: none;
		background-color: #0f0f0f
	}
	.opportunities {
		background: url(../img/opportunities-back.jpg) #b5252a 50% 50% no-repeat;
		background-size: auto 100%
	}
	.opportunities .opportunities-head img {
		margin-top: -30%
	}
	.quality .quality-right p,
	.quality .quality-right {
		text-align: center;
		float: left
	}
	.opportunities-icon {
		width: 49.5%;
		vertical-align: top
	}
	.scientific .scientific-img {
		text-align: center
	}
	.scientific .scientific-img img {
		position: static;
		width: auto!important;
		max-width: 100%!important;
		padding: 10px!important;
		top: auto!important;
		right: auto!important
	}
	.scientific .scientific-img .pic1 {
		display: none
	}
	.scientific .scientific-img .pic2 {}
	.scientific .scientific-img .pic3 {
		display: none
	}
	.scientific-text p,
	.quality-row p {
		width: 100%
	}
	.composition-left,
	.composition-right {
		text-align: center
	}
	.composition-element {
		min-height: 0
	}
	.rew-block {
		padding: 15px
	}
	.rew-block:nth-of-type(2n) .rew-avatar {
		float: left
	}
	.what-snos p {
		text-align: left
	}
	.what-icon:before,
	.what-icon:before,
	.rew-block:nth-of-type(even) .rew-text:before,
	.rew-block:nth-of-type(odd) .rew-text:before,
	.composition .composition-element:before {
		display: none
	}
	.risk .ul-none li {
		font-size: 18px;
		line-height: 24px;
		padding-left: 40px;
		margin-bottom: 12px
	}
	.rew-block {
		margin-bottom: 10px
	}
	.delevity-icon.pay {
		text-align: center
	}
	.test {
		padding-bottom: 200px;
		background: url(../img/test-back.jpg) #11191a 100% 100% no-repeat;
		background-size: 760px auto
	}
	.test-label-one {
		padding: 0 30px
	}
	.test .label-radio-gr p,
	.test .input-group p {
		text-align: left
	}
	.what-snos {
		margin-top: 20px
	}
	.quality {
		background-image: none
	}
	.quality-left img {
		max-width: 640px;
		margin-bottom: 15px;
	}
	.footer .formfooter {
		background: rgba(255, 255, 255, .95);
		text-align: center;
		padding: 10px 25px 10px 25px;
		margin-top: 26%;
	}
	.footer {
		padding-top: 50px;
		padding-bottom: 0;
			}
	.footer .price {
		text-align: center;
		margin-top: 25px
	}
	.natur,
	.approved,
	.recomend {
		margin-right: 10px
	}
	input.button,
	.button {
		padding: 25px 55px 25px 25px;
		line-height: 25px
	}
	.modal:before {
		display: none
	}
	.result .medal {
		text-align: center
	}
	.result .result-img {
		height: 270px;
		border-bottom: 1px solid rgba(0, 0, 0, .10)
	}
	.result .modal-cont {
		background-position: 50% 20px!important;
		background-size: auto 250px
	}
	.elalfaman img {
		width: 50%
	}
}

@media (max-width:580px) {
	.head .promo-row p {
		margin-bottom: 10px;
		float: none;
	}
	.head .promo-row .promo-butt{
		display: inline-block;
		float: none;
	}
	.head .price span {
		margin-right: 20px
	}
	.head .price sup {
		display: inline-block;
		top: -.2em
	}
	.opportunities .opportunities-head img {
		display: none;
	}
	.risk {
		padding-bottom: 8%;
	}
}

@media (max-width:480px) {
	.jcf-select, .jcf-unselectable {
		width: 80vw !important;
		margin: 0 auto;
	}
	.promo-img img {
		max-width: 260px;
	}
	.what-snos p {
		padding: 30px 30px 30px 75px;
	}
	.promo-button-bloc {
		text-align: center
	}
	.promo-butt,
	.price {
		width: 100%
	}
	.promo-img {
		text-align: center
	}
	.head .promo-row p {
		margin-bottom: 40px
	}
	.head .price span,
	.footer .price span {
		margin-right: 0
	}
	.head .price sup {
		display: block;
		top: 20px
	}
	.footer .price {
		margin-top: 40px
	}
	.footer .price sup {
		display: block;
		top: 0;
		margin-top: 25px
	}
}

@media (max-width:1024px) {
	.what-alfa img,
	.what-icon img {
		max-width: 80%
	}
	.what-alfa img {
		margin-top: -14px
	}
}


#calc .input-group input {
	padding: 0px !important;
}

#calc .input-group-lg > .form-control, #calc .input-group-lg > .input-group-addon, #calc .input-group-lg > .input-group-btn > .btn {
	height: 80px;
}

.input {
	border: none;
	background-color: transparent;
}

input {
	outline: none;
}

#id_2 {
	margin-top: 0px;
}

#id_1 {
	color: #fff;
}

.flex {
	display: flex;
}

.content-left-2 {
	display: flex;
}

.content-right form {
	background: #fff;
    text-align: center;
    padding: 42px 20px 10px 20px;
    margin-top: 160px;
}

.phone-style {
	padding: 30px 10px!important;
    font-size: 17px;
    color: #1e0500 !important;
    outline: 0;
    border: 0;
    border-bottom: 4px solid #1e0500!important;
    margin-top: 15px;
}

.btn-style {
	padding: 15px 35px 15px 30px !important;
}

.input-style {
	padding-left: 10px;
}

.price-p {
	font-size: 25px;
	margin-bottom: 0;
}

.red {
	color: red;
}

.form-title {
	color: red;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;

}

.price-p-footer {
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 30px;
	display: block;
	width: 100%;
}

@media (max-width: 480px) {
	.content-left-2 {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.content-right form {
		margin-top: 20px;
	}

	.logo-row {
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.deleviry-row {
		width: 97vw;
	}

	.medal {
		text-align: center;
	}

	.medal img {
		width: 80px;
		margin-bottom: 10px;
	}

	.logo {
		text-align: center;
	}
}

@media (max-width: 825px) {
	.content-left-2 {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.flex {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.content-right form {
		margin-top: 20px;
	}

	.logo-row {
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.deleviry-row {
		width: 97vw;
	}

	.medal {
		text-align: center;
	}

	.medal img {
		width: 80px;
		margin-bottom: 10px;
	}

	.logo {
		text-align: center;
	}

	.content-left-2 img{
		width: 80%;
		text-align: center;
	}
}




















#hour,#min,#sec,#day {
	float:left;
	padding:5px;
	width:48px;
	height:55px;
	position:relative;
	display:block;
}
			
.timer-style {
	margin:0px;
	padding:0px;
	width:24px;
	height:55px;
	float:left;
	color:#ffffff;
	font-size:3em;
	font-weight:bold;
	position:absolute;
}
#sec1,#min1,#hour1,#day1 {
	margin-left:24px;
}
#timer_wrap {
	background-color:#515151;
	-moz-border-radius:10px;
	height:95px;
	width:340px;
	padding:15px 18px;
	margin-bottom: 15px;
	margin: 0 auto;
}		
#clock {
	border:1px solid white;
	-moz-border-radius:10px;
	height:65px;
	width:298px;
	
	padding:0px 20px 0px 20px;
	position:absolute;
}
#razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:3em;
	margin:0px 3px 0px 3px;
}
